body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.gender {
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: white;
  border: none;
  
}

button:hover {
  background-color: #555;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}